<div class="container-sm justify-content-center min-vh-100 align-items-center d-flex">

    <div class="row">

        <form class="container-fluid mw-75 p-4 shadow p-3 mb-5 bg-body rounded col-sm-12 col-md-10" method="post"
            action="/user/resetpassword">
            <h2 class="mb-4">Restablecer</h2>

            <p>Se generará una nueva contraseña y se enviara a su email</p>
            <div class="row">
                <div class="mb-3 col-12">
                    <label for="email" class="col-form-label">Email:</label>
                    <input type="email" required class="form-control" id="email" name="email">
                </div>

            </div>

            <div class="modal-footer">
                <a href="/login" class="btn btn-secondary">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-box-arrow-left" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z" />
                        <path fill-rule="evenodd"
                            d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z" />
                    </svg>
                    Volver
                </a>
                <button type="submit" class="btn btn-primary ms-2">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-key-fill" viewBox="0 0 16 16">
                        <path
                            d="M3.5 11.5a3.5 3.5 0 1 1 3.163-5H14L15.5 8 14 9.5l-1-1-1 1-1-1-1 1-1-1-1 1H6.663a3.5 3.5 0 0 1-3.163 2zM2.5 9a1 1 0 1 0 0-2 1 1 0 0 0 0 2z" />
                    </svg>

                    Restablecer
                </button>
            </div>
        </form>


    </div>
</div>