
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalEditLabel">Editar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <form class="container-fluid" method="post" action="/admins">

                    <div class="row">

                        <div class="mb-3 col-6">
                            <label for="nombre" class="col-form-label">Nombres:</label>
                            <input type="text" required class="form-control" id="nombre" name="nombre"> {{user.nombre}}
                        </div>

                        <div class="mb-3 col-6">
                            <label for="apellido" class="col-form-label">Apellidos: </label>
                            <input type="text" required class="form-control" id="apellido" name="apellido">
                        </div>
                    </div>

                    <div class="row">



                        <div class="mb-3 col-8">
                            <label for="telefono" class="col-form-label">Teléfono</label>
                            <input type="tel" required maxlength="8" pattern="[0-9]{8}" placeholder="87868583"
                                class="form-control" minlength="8" id="telefono" name="telefono">
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">
                              
                            </svg>
                            Editar</button>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
