body{
    height: 100vh;
    position: relative;
}

#map{
    height: 90vh;
}
.scrollable{
    height:80vh;
    overflow-y: scroll;
}
.alert{
    position: absolute;
    top: 50px;
    right:0;
    max-width: 50vw;
    opacity: 0;
    animation-name: alertAparition;
    animation-duration: 10s;
    animation-delay: 200ms;
    
}
@keyframes alertAparition {
    0%{
        opacity: 0;
    }

    20%{
        opacity:  1;
    }
    80%{
        opacity: 0;
    }
   
    
}
/*Segmento de codigo css que cambia las cabeceras de las tablas a color naranja*/
table th{
    width:10em;
}
table{
    border-collapse: collapse;
}
tr:nth-of-type(1)>th{
    background-color: darkorange;
}

/*Segmento de codigo css para bordes y aliniamiento de escritura.*/
table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
    caption-side: top;
 }
 caption, td, th {
    padding: 0.3em;
 }
 th, td {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
 }
 th:lastchild, td:lastchild {
     border-right: 0;
 }
 th {
    width: 25%;
 }


