<div class="modal fade" id="modalAdmin" tabindex="-1" aria-labelledby="modalAdminLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalAdminLabel">Agregar</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="container-fluid" method="post" action="/users/add">

                    <div class="row">

                        <div class="mb-3 col-6">
                            <label for="nombre" class="col-form-label">Nombres:</label>
                            <input type="text" required class="form-control" id="nombre" name="nombre">
                        </div>

                        <div class="mb-3 col-6">
                            <label for="apellido" class="col-form-label">Apellidos: </label>
                            <input type="text" required class="form-control" id="apellido" name="apellido">
                        </div>
                    </div>

                    <div class="row">

                        <div class="mb-3 col-6">
                            <label for="alias" class="col-form-label">Alias</label>
                            <input type="text" required class="form-control" id="alias" name="alias">

                        </div>


                        <div class="mb-3 col-6">
                            <label for="telefono" class="col-form-label">Teléfono</label>
                            <input type="tel" required maxlength="8" pattern="[0-9]{8}" placeholder="87868583"
                                class="form-control" minlength="8" id="telefono" name="telefono">
                        </div>

                    </div>

                    <div class="mb-3" <label for="email" class="col-form-label">Email</label>
                        <input type="email" required class="form-control" placeholder="carlosvargas@gmail.com"
                            id="email" name="email">
                    </div>


                    <div class="mb-3">
                        <label for="dui" class="col-form-label">DUI: </label>
                        <input type="text" required placeholder="547864389" pattern="[0-9]{9}" minlength="9"
                            maxlength="9" class="form-control" id="dui" name="dui">
                    </div>

                    <div class="mb-3">
                        <div class="form-check">
                            <input class="form-check-input" name="rol" id="rol" type="checkbox" value="administrador">
                            <label class="form-check-label" for="rol">Administrador</label>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                        <button type="submit" class="btn btn-primary">

                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-file-plus-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z" />
                            </svg>
                            Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>