<!--INICIO DE MI BARRA DE NAVEGACION-->
<nav class="navbar navbar-expand-lg head__custom-nav shadow">
    <div class="container">

        <a class="navbar-brand d-flex align-items-center" href="/">
            <img src="/img/impacto.png" class="logo-brand" alt="website logo">
            <span>COESYSD</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <ion-icon name="menu-outline"></ion-icon>
        </button>

        <div class="collapse navbar-collapse justify-content-end ms-3" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {{#if logueado}}
                    {{#if admin}}                           
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/users">Usuarios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/institucion">Instituciones</a>                            
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/alerta/admin">Alertas Admin</a>
                        </li>

                        <a class="btn btn-light" href="/logout">Cerrar Sesión</a>                                                  
                    {{else}}
                        <li class="nav-item">
                            <a class="nav-link" href="/alerta">Alertas</a>                               
                        </li>
                        
                        <a class="btn btn-light ms-6" href="/logout">Cerrar Sesión</a>
                    {{/if}}
                    {{else}}
                        <a class="btn btn-light" href="/login">Iniciar Sesión</a>                         
                {{/if}} 
            </ul>
        </div>
    </div>
</nav> 
<!-- FINAL DE MI BARRA DE NAVEGACION-->